_drafts/
_site/
build/
build.orig/
.DS_Store*
._*
node_modules/
dist/
.tmp
src/vendors/
npm-debug.log
src/bitcore.html
src/bitcoinjs.html
dogewallet.conf.json
src/js/jquery-timeago.i18n.js
local-development/etc/includes/dogewallet.conf
local-development/var
package-lock.json